/* Variables globals per colors */
:root {
    --primary-color: #1d3557; /* Blau fosc */
    --primary-hover-color: #457b9d; /* Blau més clar */
    --secondary-color: #a8dadc; /* Verd clar */
    --secondary-hover-color: #76c7c0; /* Verd intens */
    --background-color: #f1faee; /* Blanc trencat */
    --text-color: #1d3557; /* Blau fosc per a text */
    --table-header-bg: #457b9d; /* Blau encapçalament */
    --table-header-text: white;
    --table-row-bg: #f8f9fa; /* Color fons files clares */
    --table-row-alt-bg: #e6f7ff; /* Color fons files alternades */
    --table-row-hover-bg: #e9ecef; /* Color fons files al passar ratolí */
    font-size: calc(0.2em + 1vw);
}

/* Cos general */
body {
    font-size: 1rem;
    margin: 0;
    line-height: 1.6;
    letter-spacing: 0.01em;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenidor principal */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: auto;
    margin: auto;
    padding: 1.5em;
}

/* Formularis */
form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

form label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: var(--primary-color);
}

form input,
form select,
form button {
    padding: 0.8em;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

form input:focus,
form select:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Botons */
button {
    padding: 0.8em 1.5em;
    margin: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

.back-button {
    background-color: var(--secondary-color);
}

.back-button:hover {
    background-color: var(--secondary-hover-color);
}

/* Taules */
.table-wrapper {
    overflow-x: auto; /* Permet desplaçament horitzontal */
    display: block;
    margin: 0 auto; /* Centra la taula */
    padding: calc(0.2rem + 0.5vw); /* Ajust dinàmic per a marges */
    max-width: 100%; /* Evita desbordament */
    box-sizing: border-box; /* Inclou el padding dins del max-width */
}


table {
    width: 100%; /* Ocupa tot l'ample disponible */
    border-collapse: collapse;
    text-align: center;
    table-layout: auto; /* Ajusta la mida automàtica de les columnes */
    max-width: calc(100rem + 5vw); /* Límit dinàmic de la mida de la taula */
}


table th {
    background-color: var(--table-header-bg);
    color: var(--table-header-text);
    font-weight: bold;
    padding: 12px;
}

table td {
    border: 1px solid #ddd;
    padding: 12px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--table-row-bg); /* Color de fons per a les files */
    position: relative;
}


table tr:nth-child(even) td {
    background-color: var(--table-row-alt-bg); /* Files alternades */
}

table tr:nth-child(odd) td {
    background-color: var(--table-row-bg); /* Files normals */
}

table tr:hover td {
    background-color: var(--table-row-hover-bg); /* Color de fons al passar el ratolí */
}

/* Tooltip per mostrar text complet */
table td[data-fulltext]:hover::after {
    content: attr(data-fulltext); /* Mostra el text complet des de data-text */
    position: absolute;
    top: calc(100% + 5px);;
    left: 10pt;
    z-index: 9999;
    background-color: #fff;
    color: var(--text-color);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    white-space: normal;
    max-width: 300px;
    font-size: 0.9rem;
    text-align: left;
}


/* Selectors */
select {
    font-size: 1.2rem;
    padding: 0.8em 1rem;
    min-width: 12rem;
    max-width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

select:focus {
    border-color: var(--primary-hover-color);
    outline: none;
    box-shadow: 0 0 5px var(--primary-hover-color);
}

/* Opcions dins del selector */
select option {
    padding: 0.4rem 0.8rem; /* Espai dins de cada opció */
    font-size: 1rem; /* Mida del text */
    white-space: nowrap; /* Evita que el text es trenque */
    background-color: white; /* Fons blanc per les opcions */
    color: var(--text-color); /* Assegura el color de text estàndard */
}

input[type="number"] {
    text-align: center;
    max-width: calc(5rem + 1vw);
}

/* Inputs de Ponderació (%) */
td input[type="number"] {
    font-size: calc(0.8em + 0.5vw); /* Mida dinàmica segons pantalla */
    padding: 5px; /* Espai intern */
    width: calc(3rem + 1vw); /* Amplada màxima adaptada a la cel·la */
    text-align: center; /* Text centrat */
    box-sizing: border-box; /* Ajusta el padding dins de l'amplada */
    border: 1px solid var(--primary-color); /* Borde principal */
    border-radius: 4px; /* Angles arrodonits */
}


/* Ajust d'amplada de les columnes amb unitats relatives */
table th:first-child, 
table td:first-child {
    width: calc(1rem + 1vw); /* Amplada dinàmica per a la columna "Criteris" */
    text-align: left; /* Alineació a l'esquerra */
}

table th:nth-child(2), 
table td:nth-child(2) {
    width: calc(5rem + 1vw); /* Amplada dinàmica per a "Ponderació (%)" */
    text-align: center;
}

table th:nth-child(3), 
table td:nth-child(3) {
    width: calc(4rem + 1vw); /* Amplada dinàmica per a "Aconseguit" */
    text-align: center;
}

table th:nth-child(4), 
table td:nth-child(4) {
    width: calc(4rem + 1vw); /* Amplada dinàmica per a "Progrés" */
    text-align: center;
}

table th:nth-child(n+5), 
table td:nth-child(n+5) {
    width: auto; /* Les altres columnes s'adapten automàticament */
}

.table-wrapper {
    overflow-x: auto; /* Permet desplaçament horitzontal si és necessari */
    -webkit-overflow-scrolling: touch; /* Millora l'experiència en dispositius tàctils */
    margin: calc(0.5rem + 1vw) auto; /* Centra la taula amb marges dinàmics */
    padding: calc(0.2rem + 0.5vw); /* Afegeix espai dinàmic per a millorar llegibilitat */
    display: block; /* Assegura que el contingut s'adapta al contenidor */
    width: 100%; /* Assegura que la taula ocupa tota l'amplada */
}

table {
    width: 100%; /* La taula ocupa tot l'ample disponible */
    max-width: calc(50rem + 10vw); /* Amplada màxima dinàmica segons la pantalla */
    margin: 0 auto; /* Centra la taula */
    border-collapse: collapse; /* Uneix els marges de les cel·les */
    table-layout: auto; /* Permet ajustar la mida automàtica de les columnes */
}

th, td {
    text-align: left; /* Alineació del text a l'esquerra */
    white-space: nowrap; /* Evita que el text es trenque en línies múltiples */
    padding: calc(0.5rem + 0.2vw); /* Espai intern dinàmic */
    border: 1px solid #ddd; /* Línies separadores */
    word-wrap: break-word; /* Permet que el text es divideixi en diverses línies */
    font-size: calc(0.9rem + 0.2vw); /* Ajust dinàmic de la mida del text */
}

th {
    background-color: #f2f2f2; /* Color de fons per destacar l'encapçalament */
    position: sticky; /* Fa que l'encapçalament es mantinga visible durant el desplaçament */
    top: 0;
    z-index: 2; /* Assegura que els encapçalaments es mostren per damunt */
    font-size: calc(1rem + 0.2vw); /* Mida del text dinàmica per a l'encapçalament */
}

td {
    background-color: #ffffff; /* Color de fons de les cel·les */
    font-size: calc(0.9rem + 0.2vw); /* Ajust dinàmic de la mida del text */
}


tfoot td {
    font-weight: bold; /* Destaquem els totals */
}



/* Footer */
footer {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    border-top: 1px solid #ddd;
    width: 100%;
}

.no-descriptor {
    color: #888;
    font-style: italic;
}


/* Estil del botó d'eliminar com a subíndex */
.small-remove-btn {
    background-color: #e63946; /* Color de fons roig */
    color: white; /* Color del text */
    border: none; /* Sense bord */
    padding: 4px 8px; /* Ajust del padding per fer-lo més rectangular */
    font-size: 0.9rem; /* Tamany del text */
    font-weight: bold;
    position: absolute; /* Posicionament absolut dins del <th> */
    top: 5px; /* Ajust de la posició superior */
    right: 5px; /* Ajust de la posició dreta */
    cursor: pointer; /* Cursor de mà per indicar que es pot clicar */
    border-radius: 2px; /* Angles lleugerament arrodonits */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra suau */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out; /* Transicions suaus */
}

.small-remove-btn:hover {
    background-color: #d62828; /* Canvia el color al passar el ratolí */
    transform: scale(1.1); /* Augment lleuger de mida al passar el ratolí */
}

.small-remove-btn:active {
    transform: scale(1); /* Torna a la mida original al fer clic */
}

/* Per als <th> que contenen el botó d'eliminar evidència */
th.evidence-header {
    position: relative; /* Només els <th> amb el botó d'eliminar */
    padding: 12px;
    text-align: center; /* Centra el contingut */
}

/* Ajust per als botons dins de les columnes */
th.evidence-header button {
    margin-left: auto;
    margin-right: auto;
}



/* Estil del botó "Afegir Evidència" */
.add-evidence-btn {
    background-color: #007bff; /* Blau */
    color: white;
    border: none;
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombra suau */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
}

.add-evidence-btn:hover {
    background-color: #0056b3; /* Blau més fosc */
    transform: scale(1.1); /* Augment lleuger */
}

.add-evidence-header {
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    padding: 10px;
    background-color: var(--table-header-bg); /* Fons igual al de la capçalera */
    white-space: nowrap; /* Evita trencar text en línies */
}


.add-evidence-btn:active {
    transform: scale(1);
}

/* Estil per a la finestra modal */
.modal {
    display: none; /* Ocult per defecte */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fons amb opacitat */
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


th, td {
    white-space: nowrap; /* Evita trencar text */
    padding: calc(0.5rem + 0.2vw); /* Ajust dinàmic */
    text-align: center;
    border: 1px solid #ddd;
    font-size: calc(0.9rem + 0.2vw); /* Escala segons la pantalla */
}

table th:first-child, table td:first-child {
    width: calc(15rem + 2vw); /* Amplada dinàmica per a criteris */
    text-align: left; /* Text alineat a l'esquerra */
}

table th:nth-child(n+5), table td:nth-child(n+5) {
    width: calc(8rem + 1vw); /* Amplada automàtica per a evidències */
}

/* Finestra modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

/* Mostra la modal quan s'afegeix la classe 'show' */
.modal.show {
    display: flex;
}

/* Contingut de la modal */
.modal-content {
    background-color: white;
    padding: 2vw; /* Ajust dinàmic en funció de la pantalla */
    border-radius: 1vw;
    width: 80vw; /* Fa que s'ajuste proporcionalment */
    max-width: 40rem; /* Evita que siga massa ampla */
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Botó de tancar */
.close-modal {
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
}

.close-modal:hover {
    color: var(--primary-hover-color);
}

/* Ajust del text */
.modal-content h2 {
    margin-top: 0;
    font-size: 2vw;
    color: var(--primary-color);
}

/* Contenidor del selector */
.evidence-selector {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    align-items: center;
    width: 100%;
}

/* Selector d'evidència ajustat */
.evidence-selector select {
    width: 100%; /* Fa que ocupe tota la modal */
    max-width: 35vw; /* Ajusta segons l'amplada de la modal */
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    border: 0.2vw solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Ajust del botó perquè siga ample */
#add-evidence {
    width: 100%;
    max-width: 35vw; /* Igual que el `select` */
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#add-evidence:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

/* 🔹 Contenidor principal */
.alta-entitats-container {
    width: 80vw;
    max-width: 50rem;
    margin: 5vw auto;
    padding: 3vw;
    background: white;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
}

/* 🔹 Formulari */
.alta-entitats-container form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 90%;
    max-width: 45rem;
    padding: 2vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* 🔹 Labels justificats a l'esquerra */
.alta-entitats-container .form-group label {
    font-size: 1.2vw;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 0.5vw;
}

/* 🔹 Inputs i Selectors centrats */
.alta-entitats-container .form-group select,
.alta-entitats-container .form-group input {
    width: 100%;
    max-width: 35rem;
    padding: 1vw;
    font-size: 1.2vw;
    border: 0.2vw solid var(--primary-color);
    border-radius: 0.5vw;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0 auto;
}

/* 🔹 "Nom" i "Valor" en la mateixa fila */
.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    gap: 2vw;
    margin: 0 auto;
}

/* 🔹 "Nom" ocupa més espai */
.form-row .form-group {
    flex: 2;
}

/* 🔹 "Valor" més xicotet i centrat */
.form-row .form-group:last-child {
    flex: 1;
    max-width: 10rem;
}

.form-row .form-group input {
    width: 100%;
    text-align: center;
}

/* 🔹 Botó "Guardar" centrat */
.alta-entitats-container button {
    width: 90%;
    max-width: 35rem;
    padding: 1.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 0.5vw;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 1vw auto;
}

.alta-entitats-container button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}



/* 🔹 Contenidor principal */
.alta-alumnes-container {
    width: 80vw;
    max-width: 50rem;
    margin: 5vw auto;
    padding: 3vw;
    background: white;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 🔹 Formulari */
.alta-alumnes-container form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 90%;
    max-width: 45rem;
    padding: 2vw;
    border: 1px solid #ddd;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* 🔹 Etiquetes justificades a l'esquerra */
.alta-alumnes-container form label {
    font-size: 1.2vw;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
    display: block;
    margin-bottom: 0.5vw;
}

/* 🔹 Inputs i Selectors centrats */
.alta-alumnes-container form input,
.alta-alumnes-container form select {
    width: 100%;
    max-width: 30vw;
    padding: 1vw;
    font-size: 1.2vw;
    border: 0.2vw solid var(--primary-color);
    border-radius: 0.5vw;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
}

/* 🔹 Ajust especial per al selector de mòduls */
.alta-alumnes-container form select[multiple] {
    height: 10vw; /* Ajust per evitar que siga massa xicotet */
}

/* 🔹 Botons */
.alta-alumnes-container button {
    width: 100%;
    max-width: 30vw;
    padding: 1.2vw;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 0.5vw;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.alta-alumnes-container button:hover {
    background-color: var(--primary-hover-color);
    transform: scale(1.05);
}

/* 🔹 Ajust del botó "Tornar" */
.alta-alumnes-container .back-button {
    width: 90%;
    padding: 1.5vw;
    font-size: 1.5vw;
    background-color: var(--secondary-color);
    margin-top: 2vw;
}

.alta-alumnes-container .back-button:hover {
    background-color: var(--secondary-hover-color);
}
