<!DOCTYPE html>
<html>
<head>
    <title>Alta Alumnes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
    <h1>Alta Alumnes</h1>
    <form method="POST">
        <label for="nia">NIA:</label>
        <input type="text" name="nia" required>
        <label for="nom">Nom:</label>
        <input type="text" name="nom" required>
        <button type="submit">Guardar</button>
    </form>
    <button onclick="location.href='/'">Tornar</button>
</body>
</html>

