<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mòduls</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>
<body>
    <div class="container">
        <h1>Mòduls de l'Alumne</h1>
        <div class="button-container">
            {% for modul in moduls %}
                <button class="module-button" onclick="location.href='/modul/{{ modul.id_modul }}/{{ nia }}'">
                    {{ modul.nom }}
                </button>
            {% endfor %}
        </div>
        <button class="back-button" onclick="window.location.href='/visualitzar?nia={{ nia }}'">Tornar</button>
    </div>

    <footer>
        <p>&copy; 2024 - Desenvolupat per <a href="https://juatafe.github.io" target="_blank">Juan Bautista Talens Felis</a></p>
    </footer>
</body>
</html>
