<!-- 

Aquesta plantilla HTML s'utilitza per mostrar els resultats d'aprenentatge (Resultats d'Aprenentatge) per a un mòdul específic.
La plantilla inclou una taula que llista cada resultat d'aprenentatge juntament amb el seu pes, progrés, aconseguit,
i la data de l'última actualització.

Elements Clau:
- El títol de la pàgina és "Resultats d'Aprenentatge".
- La taula conté columnes per al nom del resultat d'aprenentatge, el seu pes (Ponderació), progrés, aconseguit,
    la data de l'última actualització, i un enllaç d'acció per avaluar el resultat.
- El peu de pàgina inclou un avís de drets d'autor i un enllaç al lloc web del desenvolupador.
- La plantilla utilitza fitxers CSS i JavaScript externs situats al directori /static.
- JavaScript s'utilitza per calcular i mostrar el pes total, progrés i aconseguit per a tots els resultats d'aprenentatge.

Variables de la Plantilla:
- {{ nom_modul }}: El nom del mòdul.
- {{ ras }}: Una llista de resultats d'aprenentatge.
- {{ nia }}: Un valor de camp ocult utilitzat en el formulari per tornar a la pàgina anterior.

Funcionalitat JavaScript:
- En DOMContentLoaded, l'script calcula el pes total, progrés i aconseguit per a tots els resultats d'aprenentatge
    i actualitza les cel·les corresponents al peu de la taula.
-->
<!DOCTYPE html>

<html lang="ca">
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultats d'Aprenentatge</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container">
        <h1>Resultats d'Aprenentatge del mòdul - <span id="nom-modul"></span></h1>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Nom RA</th>
                        <th>Ponderació (%)</th>
                        <th>Progrés</th>
                        <th>Aconseguit</th>
                        <th>Data de Registre</th>
                        <th>Avaluar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ra in ras %}
                    <tr>
                        <td data-fulltext="{{ ra.nom_ra }}" title="{{ ra.nom_ra }}">
                            {{ ra.nom_ra[:47] }}{% if ra.nom_ra|length > 50 %}...{% endif %}
                        </td>
                        <td><input type="number" value="{{ ra.ponderacio_ra }}" class="ponderacio-input"
                                data-id="{{ ra.id_ra }}" min="0" max="100"></td>
                        <td>{{ ra.progress }}</td>
                        <td>{{ ra.aconseguit }}</td>
                        <td>{{ ra['ultima_data']|date('d/m/Y') }}</td>
                        <td><a href="/ra/{{ ra.id_ra }}" class="action-link">Posar notes</a></td>
                    </tr>
                    {% endfor %}
                </tbody>                
                <tfoot>
                    <tr>
                        <td><strong>Totals</strong></td>
                        <td id="total-ponderacio"><strong>0</strong></td>
                        <td id="total-progress"><strong>0.00</strong></td>
                        <td id="total-aconseguit"><strong>0.00</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <button class="save-button btn btn-primary">Desar</button>
        <form method="POST" action="/visualitzar">
            <input type="hidden" name="nia" value="{{ nia }}">
            <button type="submit" class="back-button">Tornar</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2024 - Desenvolupat per <a href="https://juatafe.github.io" target="_blank">Juan Bautista Talens
                Felis</a></p>
    </footer>

    <script src="/static/ras.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const rows = document.querySelectorAll('tbody tr');
            let totalPonderacio = 0;
            let totalProgress = 0;
            let totalAconseguit = 0;

            rows.forEach(row => {
                const ponderacio = parseFloat(row.querySelector('.ponderacio-input').value) || 0;
                const progress = parseFloat(row.cells[2].textContent) || 0;
                const aconseguit = parseFloat(row.cells[3].textContent) || 0;

                totalPonderacio += ponderacio;
                totalProgress += progress;
                totalAconseguit += aconseguit;
            });

            document.getElementById('total-ponderacio').textContent = totalPonderacio.toFixed(2);
            document.getElementById('total-progress').textContent = totalProgress.toFixed(2);
            document.getElementById('total-aconseguit').textContent = totalAconseguit.toFixed(2);
            // Petició fetch per obtenir el nom del mòdul
            const idRa = 1; // Canvia a l'ID del RA que necessites
            fetch(`/get_modul_name/${idRa}`)
                .then(response => response.json())
                .then(data => {
                    if (data.nom_modul) {
                        console.log("Nom del Mòdul:", data.nom_modul);
                        // Actualitzar el contingut del span amb l'ID "nom-modul"
                        document.getElementById('nom-modul').textContent = data.nom_modul;
                    } else {
                        console.error("Error:", data.error);
                    }
                })
                .catch(error => console.error("Error amb la petició:", error));

        });
    </script>
</body>

</html>