<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualitzar Alumne</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Visualitzar Alumne</h1>
        <form method="POST">
            <label for="nia">Introdueix el NIA:</label>
            <input type="text" name="nia" id="nia" placeholder="123456" required>
            <button type="submit">Cercar</button>
        </form>
        <button onclick="location.href='/'" class="back-button">Tornar</button>
    </div>

    <footer>
        <p>&copy; 2024 - Desenvolupat per <a href="https://juatafe.github.io" target="_blank">Juan Bautista Talens Felis</a></p>
    </footer>
</body>
</html>
